@model List<PrelimCoop.Entities.LoanDb>

<a class="btn btn-success" href="/loan/create">Create New</a>
<table class="container" id="loan-table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Type</th>
            <th>Amount</th>
            <th>No of Payment</th>
            <th>Deduction</th>
            <th>Date Created</th>
            <th>Receivable Amount</th>
            <th>Due Date</th>
            <th>Payable Amount</th>
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <th scope="row">@loan.ClientId</th>
                <td>@loan.Type</td>
                <td>@loan.Amount</td>
                <td>@loan.NoOfPayment</td>
                <td>@loan.Deduction</td>
                <td>@loan.DateCreated</td>
                <td>@loan.RecievableAmount</td>
                <td>@loan.DueDate</td>
                <td>@loan.PayableAmount</td>
                <td>
                    <a class="btn btn-warning" href="/loan/edit/@loan.Id">Update</a>
                    <a class="btn btn-danger" href="/loan/delete/@loan.Id">Delete</a>
                    <a class="btn btn-primary" href="/payments/viewpayments/@loan.ClientId">View Payments</a>
                </td>
            </tr>
        }
    </tbody>
</table>
